Code/Desktop Fences/obj/project.nuget.cache
/Code/Desktop Frames/obj
Code/Desktop Frames/obj/project.nuget.cache
/Code/.vs/Desktop Frames/v18
/Code/.vs/ProjectEvaluation
/Code/Desktop Frames/obj
Code/Desktop Frames/obj/project.assets.json
/Code/.vs
/Code/Desktop Frames/obj
