Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences.log
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/FileContentIndex/4d0de8b8-5d50-4be8-9015-73e38ab0fe60.vsidx
Code/.vs/Desktop Fences/FileContentIndex/848bd7ed-e7d1-45f7-8e48-d3607a689471.vsidx
Code/.vs/Desktop Fences/FileContentIndex/9b3c48fe-28a0-43d4-b3e4-697c0386fc10.vsidx
Code/.vs/Desktop Fences/FileContentIndex/b892e6e9-765f-429f-a081-cd6ed41d3a30.vsidx
Code/.vs/Desktop Fences/FileContentIndex/c78235e0-4db8-4d08-9344-da061c006267.vsidx
Code/.vs/Desktop Fences/FileContentIndex/e3b6753c-aa15-43b8-9404-43ea22462a52.vsidx
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/FileContentIndex/848bd7ed-e7d1-45f7-8e48-d3607a689471.vsidx
Code/.vs/Desktop Fences/FileContentIndex/b892e6e9-765f-429f-a081-cd6ed41d3a30.vsidx
Code/.vs/Desktop Fences/FileContentIndex/e3b6753c-aa15-43b8-9404-43ea22462a52.vsidx
Code/.vs/Desktop Fences/v17/.suo
Code/.vs/Desktop Fences/v17/DocumentLayout.backup.json
Code/.vs/Desktop Fences/v17/DocumentLayout.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.dll
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.exe
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.pdb
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences.log
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences_Snap.log
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/fences.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/options.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Shortcuts/LCDSmartie Lazarus Temp.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Shortcuts/LCDSmartie Lazarus x.lnk
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/App.g.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/App.g.i.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/apphost.exe
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.AssemblyInfo.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.AssemblyInfoInputs.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.assets.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.csproj.AssemblyReference.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.csproj.CoreCompileInputs.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.dll
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.GeneratedMSBuildEditorConfig.editorconfig
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.genruntimeconfig.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.pdb
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.sourcelink.json
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences_MarkupCompile.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences_MarkupCompile.i.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/ref/Desktop Fences.dll
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/refint/Desktop Fences.dll
Code/Desktop Fences/obj/Desktop Fences.csproj.nuget.dgspec.json
Code/Desktop Fences/obj/Desktop Fences.csproj.nuget.g.props
Code/Desktop Fences/obj/project.assets.json
Code/Desktop Fences/obj/project.nuget.cache
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/fences.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Black my Screen.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Desktop Fences - Copy.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Desktop Fences.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/DesktopFences.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Invoke Community Edition.exe.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/LCDSmartie Main.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505031513_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/fences.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Advanced IP Scanner.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/AutoUnattened - Shortcut.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Backup Folder - With Sound (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Backup Folder - With Sound.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Black my Screen.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Desktop Fences - Copy.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Desktop Fences.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/DesktopFences (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/DesktopFences.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Direct Lines for LCD Smartie.exe - Shortcut (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Direct Lines for LCD Smartie.exe - Shortcut (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Direct Lines for LCD Smartie.exe - Shortcut (3).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Direct Lines for LCD Smartie.exe - Shortcut.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/GitHub Desktop.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Google Chrome.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Grok 3 Snake Game Python.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Here are the essential commands you can use to manage and monitor the Dynu IP Update Client service on your Ubuntu system.docx.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Inno Setup Compiler.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Invoke Community Edition.exe.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/jablo.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Joplin.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Android (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Android (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Android (3).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Android.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Main (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Main (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Main (3).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Main.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Purple (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Purple (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Purple (3).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie Purple.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LCDSmartie.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/LG ULTRAWIE 29UM59A Driver.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/NVIDIA.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Postman.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/PotPlayer 64 bit.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Python drag and drop execute python scripts.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Quasar v1.4.1.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Rebuild_Icon_Cached.bat.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/RingTones.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/SADP.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Samsung DeX.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Telegram.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info (1).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info (2).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info (3).lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Text Formatter For LCD Smartie Plugin Info.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/VLC media player.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/VMware-workstation-full-17.5.2-23775571.rar.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/WizFile.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Wondershare Filmora 13.0.60.5095 (x64) Multilingual.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Βασικες λειτουργιες - Copy.docx.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Backups/2505040040_backup/Shortcuts/Βασικες λειτουργιες.docx.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Shortcuts/Here are the essential commands you can use to manage and monitor the Dynu IP Update Client service on your Ubuntu system.docx.lnk
*.cache
Code/.vs/Desktop Fences/FileContentIndex/0d254920-d59a-4a66-b4e4-d9288d79d104.vsidx
Code/.vs/Desktop Fences/FileContentIndex/19073526-2e1a-428c-b35b-795d460c25b6.vsidx
Code/.vs/Desktop Fences/FileContentIndex/91740b3d-1f13-4cf9-805a-c8e3fef88977.vsidx
Code/.vs/Desktop Fences/FileContentIndex/ccdb45f8-3808-49da-8427-b0ac1e805552.vsidx
Code/.vs/Desktop Fences/FileContentIndex/cfb9efe8-c74b-4e9e-b4c8-091df835ddac.vsidx
