Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences.log
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
Code/.vs/Desktop Fences/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/FileContentIndex/4d0de8b8-5d50-4be8-9015-73e38ab0fe60.vsidx
Code/.vs/Desktop Fences/FileContentIndex/848bd7ed-e7d1-45f7-8e48-d3607a689471.vsidx
Code/.vs/Desktop Fences/FileContentIndex/9b3c48fe-28a0-43d4-b3e4-697c0386fc10.vsidx
Code/.vs/Desktop Fences/FileContentIndex/b892e6e9-765f-429f-a081-cd6ed41d3a30.vsidx
Code/.vs/Desktop Fences/FileContentIndex/c78235e0-4db8-4d08-9344-da061c006267.vsidx
Code/.vs/Desktop Fences/FileContentIndex/e3b6753c-aa15-43b8-9404-43ea22462a52.vsidx
Code/.vs/Desktop Fences/DesignTimeBuild/.dtbcache.v2
Code/.vs/Desktop Fences/FileContentIndex/848bd7ed-e7d1-45f7-8e48-d3607a689471.vsidx
Code/.vs/Desktop Fences/FileContentIndex/b892e6e9-765f-429f-a081-cd6ed41d3a30.vsidx
Code/.vs/Desktop Fences/FileContentIndex/e3b6753c-aa15-43b8-9404-43ea22462a52.vsidx
Code/.vs/Desktop Fences/v17/.suo
Code/.vs/Desktop Fences/v17/DocumentLayout.backup.json
Code/.vs/Desktop Fences/v17/DocumentLayout.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.dll
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.exe
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop Fences.pdb
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences.log
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Desktop_Fences_Snap.log
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/fences.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/options.json
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Shortcuts/LCDSmartie Lazarus Temp.lnk
Code/Desktop Fences/bin/Debug/net8.0-windows7.0/Shortcuts/LCDSmartie Lazarus x.lnk
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/App.g.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/App.g.i.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/apphost.exe
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.AssemblyInfo.cs
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.AssemblyInfoInputs.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.assets.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.csproj.AssemblyReference.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.csproj.CoreCompileInputs.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.dll
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.GeneratedMSBuildEditorConfig.editorconfig
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.genruntimeconfig.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.pdb
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences.sourcelink.json
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences_MarkupCompile.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/Desktop Fences_MarkupCompile.i.cache
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/ref/Desktop Fences.dll
Code/Desktop Fences/obj/Debug/net8.0-windows7.0/refint/Desktop Fences.dll
Code/Desktop Fences/obj/Desktop Fences.csproj.nuget.dgspec.json
Code/Desktop Fences/obj/Desktop Fences.csproj.nuget.g.props
Code/Desktop Fences/obj/project.assets.json
Code/Desktop Fences/obj/project.nuget.cache
